parts/*
prime/*
stage/*
snap/plugins/__pycache__/*
snap/.snapcraft/*

*.bz2
*.img
*.snap
.spread-reuse.*.yaml

# Ignore image garden artifacts, but not the README.md file
.image-garden/*
!.image-garden/README.md
