name: Smoke Test

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'
  # Manual trigger
  workflow_dispatch:

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - arch: amd64
            os: ubuntu-latest
          - arch: arm64
            os: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build
        uses: snapcore/action-build@v1
        id: snapcraft
        with:
          snapcraft-args: snap --output docker_${{ github.run_id }}_${{ matrix.runner.arch }}.snap

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: docker_${{ github.run_id}}_${{ matrix.runner.arch }}.snap
          path: ${{ steps.snapcraft.outputs.snap }}

  smoke-test:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        runner:
          - arch: amd64
            os: ubuntu-24.04
          - arch: amd64
            os: ubuntu-22.04
          - arch: arm64
            os: ubuntu-24.04-arm
          - arch: arm64
            os: ubuntu-22.04-arm
    runs-on: ${{ matrix.runner.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: docker_${{ github.run_id}}_${{ matrix.runner.arch }}.snap

      - name: Prep
        run: |
          # https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2204-Readme.md

          # TODO figure out a better way to get Go and friends out of our path than dropping a nuke
          sudo rm -rf /opt/hostedtoolcache/*

          sudo apt-get purge --auto-remove -y 'docker.*' 'containerd.*' 'moby.*' 'runc.*'
          sudo rm -rf /var/lib/docker /etc/docker /run/docker* /var/lib/containerd /run/containerd*
          sudo ip link delete docker0 || :

      # The image comes with a slightly outdated snapd Debian package
      - name: Install snapd as a snap
        run: |
          sudo snap install snapd
          sudo snap list

      - name: Collect snap environment info
        run: |

          # These commands shouldn't cause workflow failure
          set +e

          # System and snapd data
          snap version

          # Check how snapd is installed
          sudo snap debug execution snap

          # Check apparmor abi version
          sudo snap debug execution apparmor

          # Check available sandbox-features
          sudo snap debug sandbox-features

          set -e

      - name: Snap refresh test
        run: |

          trap 'echo "error, sad day ($?)"; sleep 1; sudo snap logs -n=40 docker.dockerd; sleep 1; sudo tail -n20 /var/log/*.log; sudo dmesg | tail -n20; sudo journalctl --no-pager | grep docker' ERR
          sudo snap install docker

          # Give time for the daemon to startup
          sleep 5

          # Run latest versions of well known applications
          sudo docker run --restart=always -d redis
          sudo docker run --restart=always -d rabbitmq
          sudo docker run --restart=always -d grafana/grafana
          sudo docker run --restart=always -d jenkins/jenkins
          sudo docker run --restart=always -d nginx
          sudo docker run --restart=always -d -e POSTGRES_HOST_AUTH_METHOD=trust postgres
          # NOTE: adjust this accordingly with the commands above if needed
          STARTED_CONTAINERS=6

          echo "List of running containers"
          docker ps -a

          if [[ -n $(sudo docker ps -q --filter "status=exited") ]]; then
            echo "Error: docker snap did not start all containers"
            exit 1
          fi


          # Wait for the restart policy to take effect
          # See: https://docs.docker.com/engine/containers/start-containers-automatically/#restart-policy-details
          sleep 10

          # Refresh Docker snap to the current build
          sudo snap install --dangerous ./docker_${{ github.run_id}}_${{ matrix.runner.arch }}.snap

          sleep 10

          RUNNING_CONTAINERS=$(sudo docker ps -q | wc -l)

          if [ "$RUNNING_CONTAINERS" -ne "$STARTED_CONTAINERS" ]; then
            echo "Error: not all containers started after snap refresh"
            sudo docker ps -a
            exit 1
          fi

          # Revert docker snap to the previous version
          sudo snap revert docker

          sleep 10

          RUNNING_CONTAINERS=$(sudo docker ps -q | wc -l)

          if [ "$RUNNING_CONTAINERS" -ne "$STARTED_CONTAINERS" ]; then
            echo "Error: not all containers started after snap revert"
            sudo docker ps -a
            exit 1
          fi

          # Cleanup
          sudo snap remove --purge docker

      - name: Install
        run: |
          sudo snap install --dangerous ./docker_${{ github.run_id}}_${{ matrix.runner.arch }}.snap

          # it will immediately be failing to start, so let's head that off as quickly as we can
          sudo snap stop --disable docker.dockerd
          sudo killall dockerd || :

      - name: Connect
        run: |
          echo '{ "log-level": "debug" }' | sudo tee /var/snap/docker/current/config/daemon.json

          # normally, snap does this automatically during install, but not when we install from a local file (for security)
          sudo snap connect docker:docker-cli docker:docker-daemon
          sudo snap connect docker:firewall-control :firewall-control
          sudo snap connect docker:home :home
          sudo snap connect docker:network-control :network-control
          sudo snap connect docker:support :docker-support
          sudo snap connect docker:privileged :docker-support

          sudo snap stop --disable docker.dockerd # for good measure
          sleep 1
          sudo snap start --enable docker.dockerd
          sleep 1
          sudo snap logs docker.dockerd

      - name: Verify
        run: |
          trap 'ps faux | grep -i docker; sudo systemctl status snap.docker.dockerd.service' ERR
          sudo dmesg | tail -n20
          sleep 1
          sudo snap logs -n=20 docker.dockerd
          sleep 1
          sudo docker version
          sudo docker info
          sudo docker buildx version
          sudo docker compose version

      - name: Save & Load
        run: |
          docker pull hello-world
          docker save hello-world > hello-world.tar
          xz -T0 < hello-world.tar > hello-world.txz
          docker rmi hello-world
          docker load --input hello-world.txz

      - name: Hello World
        run: sudo docker run --rm hello-world

      - name: Hello World (syslog)
        run: |
          trap 'echo -e "\nerror, sad day ($?)"; sleep 1; sudo snap logs -n=20 docker.dockerd; sleep 1; sudo tail -n20 /var/log/*.log; sudo dmesg | tail -n20; sudo journalctl --no-pager | grep DENIED | grep docker' ERR
          expectedOutput="testing-syslog-log-driver-$RANDOM-$RANDOM"
          sudo docker run --name test-syslog --log-driver syslog bash -c 'echo "$@"' -- "$expectedOutput"
          actualOutput="$(sudo docker logs test-syslog)"
          [ "$actualOutput" = "$expectedOutput" ]
          docker rm test-syslog

      - name: Hello World (journald)
        # NOTE: Test temporarily disabled on Noble due to a known issue with journald on Noble systems affecting docker-snap.
        # see: https://github.com/canonical/docker-snap/issues/181
        if: ${{ !contains('ubuntu-24.04,ubuntu-24.04-arm', matrix.runner.os) }}
        run: |
          trap 'echo "error, sad day ($?)"; sleep 1; sudo snap logs -n=20 docker.dockerd; sleep 1; sudo tail -n20 /var/log/*.log; sudo dmesg | tail -n20; sudo journalctl --no-pager | grep DENIED | grep docker' ERR
          expectedOutput="testing-journald-log-driver-$RANDOM-$RANDOM"
          sudo docker run --name test-journald --log-driver journald bash -c 'echo "$@"' -- "$expectedOutput"
          actualOutput="$(sudo docker logs test-journald)"
          [ "$actualOutput" = "$expectedOutput" ]
          docker rm test-journald

      - name: Hello World (init)
        run: sudo docker run --rm --init hello-world

      # NOTE: regression test for aa default profile reload issue 
      # see: https://github.com/canonical/docker-snap/issues/36
      - name: Stop container
        timeout-minutes: 1
        run: |
          trap 'echo "error, sad day ($?)"; sleep 1; sudo snap logs -n=20 docker.dockerd; sleep 1; sudo tail -n20 /var/log/*.log; sudo dmesg | tail -n20; sudo journalctl --no-pager | grep DENIED | grep docker' ERR
          docker run --rm -d --name test bash bash -c 'cleanup(){ sleep 60; }; trap cleanup SIGTERM SIGINT SIGHUP SIGQUIT; while true; do sleep 1; done'
          sleep 5
          sudo docker stop test

      - name: Docker Build
        run: |
          sudo docker build --pull -t debian-hello - <<'EOF'
            FROM debian:stable-slim
            RUN set -eux; \
                apt-get update; \
                apt-get install -y hello; \
                rm -rf /var/lib/apt/lists/*
            CMD ["hello"]
          EOF
          sudo docker run --rm debian-hello
          sudo docker image rm debian-hello

        # NOTE: regression test for check patch that forces
        # use of chroot(2) syscall instaed of pivot_root(2)
        # see: https://github.com/canonical/docker-snap/issues/281
      - name: Pull image that write to /snap
        run: |
          sudo docker pull ghcr.io/canonical/snapcraft:7_core22

      - name: Docker Build (git)
        run: |
          sudo docker build --pull -t tianon/gosleep https://github.com/tianon/gosleep.git
          sudo docker run --rm tianon/gosleep gosleep --help
          sudo docker image rm tianon/gosleep

      - name: Docker BuildKit
        run: |
          trap 'echo "error, sad day ($?)"; sleep 1; sudo snap logs -n=20 docker.dockerd; sleep 1; sudo tail -n20 /var/log/*.log; sudo dmesg | tail -n20; sudo journalctl --no-pager | grep DENIED | grep docker' ERR
          sudo DOCKER_BUILDKIT=1 docker build --pull -t debian-hello - <<'EOF'
            FROM debian:stable-slim
            RUN set -eux; \
                apt-get update; \
                apt-get install -y hello; \
                rm -rf /var/lib/apt/lists/*
            CMD ["hello"]
          EOF
          sudo docker run --rm debian-hello
          sudo docker image rm debian-hello

      - name: Docker BuildKit (git)
        run: |
          sudo DOCKER_BUILDKIT=1 docker build --pull -t tianon/gosleep https://github.com/tianon/gosleep.git
          sudo docker run --rm tianon/gosleep gosleep --help
          sudo docker image rm tianon/gosleep

      - name: Docker using xtables-nft
        run: |
          sudo snap stop docker

          sudo nft flush ruleset
          set +e
          COUNT="$(sudo nft list ruleset 2>/dev/null | grep -i docker | wc -l)"
          set -e
          [ "$COUNT" -eq 0 ]

          sudo update-alternatives --set iptables /usr/sbin/iptables-nft
          sudo update-alternatives --set ip6tables /usr/sbin/ip6tables-nft

          sudo snap start docker
          sleep 10

          set +e
          COUNT="$(sudo nft list ruleset 2>/dev/null | grep -i docker | wc -l)"
          set -e
          [ "$COUNT" -gt 0 ]

      - name: Docker using xtables-legacy
        run: |
          sudo snap stop docker

          sudo nft flush ruleset
          set +e
          COUNT="$(sudo nft list ruleset 2>/dev/null | grep -i docker | wc -l)"
          set -e
          [ "$COUNT" -eq 0 ]

          sudo update-alternatives --set iptables /usr/sbin/iptables-legacy
          sudo update-alternatives --set ip6tables /usr/sbin/ip6tables-legacy

          set +e
          COUNT="$(sudo iptables -L | grep -i docker | wc -l)"
          set -e
          [ "$COUNT" -eq 0 ]

          sudo snap start docker
          sleep 10

          set +e
          COUNT="$(sudo iptables -L | grep -i docker | wc -l)"
          set -e
          [ "$COUNT" -gt 0 ]
